
    <h1>Art Media</h1>
    <h5>A medium is the material used to create a work of art.
      Discover the myriad forms of media that interest you!
    </h5>

  <div>
    <h3>Architecture</h3>
    <p>Architecture is primarily concerned with the design and construction of buildings.
      Media in this category often involves:
    </p>
    <ul>
      <li>glass</li>
      <li>metal</li>
      <li>stones</li>
      <li>bricks</li>
      <li>wood</li>
    </ul>
  </div>

  <div>
    <h3>Drawing</h3>
    <p>Drawing is a broad form of art that includes several different types of media.
      Drawing media may involve:
    </p>
    <ul>
      <li>graphite (pencil)</li>
      <li>crayon</li>
      <li>watercolor</li>
      <li>oils</li>
      <li>pastels</li>
      <li>pen and ink</li>
      <li>charcoal</li>
      <li>sand</li>
    </ul>
  </div>

  <div>
    <h3>Electronic</h3>
    <p>Digital art creation involves the use of digital media and software to create live models, fims, or even
      content used in magazines, brochures, websites. Digital media include:
    </p>
    <ul>
      <li>Graphic art software</li>
      <li>3D Computer graphics and printing</li>
      <li>Word processing and decktop publishing</li>
      <li>Digital photography and cinematography</li>
      <li>Digital painting</li>
      <li>Computer programming and simulation</li>
    </ul>
  </div>

  <div>
    <h3>Painting</h3>
    <p>Media in painting refers to the type of paint used and the base to which it is applied.
      Samples of traditional paint media include:
    </p>
    <ul>
      <li>ink</li>
      <li>primer</li>
      <li>stencil</li>
      <li>watercolor</li>
      <li>oil</li>
      <li>fresco</li>
    </ul>
  </div>

  <div>
    <h3>Sculpture</h3>
    <p>Sculpting involves the shaping of a solid structire and textrued surface to create a 3-dimensional object
      Scuplting contains different types of media for carving and casting such as:
    </p>
    <ul>
      <li>cement</li>
      <li>clay</li>
      <li>ceramics</li>
      <li>plastic</li>
      <li>wax</li>
      <li>plaster</li>
      <li>sand</li>
      <li>styrofoam</li>
    </ul>
  </div>
