<div class="news">
  <h1>Art in the News</h1>

  <h5>Whether you're looking to visit an art show, 
    or learn about budding artists and their work,
    keep up with art making the news!
  </h5>

  <br><br>
  <h3>ARTnews</h3>
  <p>ARTnews was founded in 1902 and is the most widely circulated art magazine in the world.</p>
  <a href="http://www.artnews.com">Click here to visit</a>

  <br><br>
  <h3>New York Times</h3>
  <p>The New York Times publishes art news, commentary, and archived articles.</p>
  <a href="https://www.nytimes.com/topic/subject/art">Click here to visit</a>

  <br><br>
  <h3>The Art Newspaper</h3>
  <p>The Art Newspaper was founded in 1990 and is an online and print publication that covers art from around the world.</p>
  <a href="https://www.theartnewspaper.com">Click here to visit</a>
</div> 
