<mat-card>
        FANG LIJUN works with an 'inner ' gaze, a gaze directed at himself and thus on Chinese society. In so doing, this artist, born in 1963, reflects the transformations of China so precisely that one might call his work seismographic. Still termed a 'cynical realist', the hard edge of earlier works has given way to a more gentle irony. As the artist's themes have shifted, so have his colors. In his last painting cycle, LIFE IS NOW, an almost brilliant colorfulness has taken hold.
</mat-card>>
