nav {
  margin-bottom: 1%;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
<<<<<<< HEAD
  padding-right: 5px;
=======
  padding-right: 20px;
>>>>>>> e6f9891a7c7ba576d5156c7f695848312ade7c32
}

img {
  height: 5vh;
  padding-right: 15px;
}
<<<<<<< HEAD
=======

h3 {
  padding-right: 2%;
}


.lform {
  margin: 2% 5% 0% 0%;
  width: 70%;
}

#key {
  margin: 0 5% 0% 5%;
  padding: 0 0 0 0;
}

button {
  margin: 0px .5% .5% .5%;
}
>>>>>>> e6f9891a7c7ba576d5156c7f695848312ade7c32
