<div>
  <h1>Art Media</h1>

  <h5>An art medium commonly refers to the material used to create a work of art.
    A non-exhaustive list of art categories and their associated media are listed below:
  </h5>

  <h3>Architecture</h3>
  <ul>
    <li>cement, concrete</li>
    <li>glass</li>
    <li>metal</li>
    <li>stone, brick</li>
    <li>wood</li>
  </ul>

  <h3>Ceramics</h3>
  <ul>
    <li>clay</li>
    <li>porcelain</li>
    <li>pottery</li>
  </ul>

  <h3>Drawing</h3>
  <ul>
    <li>chalk</li>
    <li>graphite (pencil)</li>
    <li>ink</li>
    <li>pastel</li>
    <li>pixel</li>
  </ul>

  <h3>Electronic</h3>
  <ul>
    <li>graphic art software, 3D computer graphics</li>
    <li>word processors and desktop publishing</li>
    <li>digital photography and cinematography</li>
    <li>programming languages</li>
  </ul>

  <h3>Painting</h3>
  <ul>
    <li>acrylic</li>
    <li>watercolor</li>
    <li>ink</li>
    <li>fresco</li>
    <li>oil paint</li>
  </ul>
</div>