<div class="article">
  <h1>Art-icles to explore!</h1>

  <h5>A sample in-depth exploration of some different forms of art that you love!</h5>

  <br>
  <br>
  <h3>Modern Scupltor Constructs Physical Representation of Van Gogh's Starry Night</h3>
  <p>A week in the making, sculptor Diego Ortiz visualizes a night of stars and creates a
    stunning life-like view of a popular classic.
  </p>
  <a href="#">Click here for full article</a>

  <br>
  <br>

  <h3>Secrets in the Sand</h3>
  <p> Sand art is an increasingly popular form that transforms at the will and creativity of the designer.
    Ukranian sand artist Kseniya Simonova has captured the hearts of many after her spectacular performance
    on America's Got Talent: the Champions. Here, she tells all about her art, and how her talents
    have come to be that has left many an audience awe-inspired.
  </p>
  <a href="#">Click here for full article</a>

  <br>
  <br>

  <h3>The Point with Pointillism</h3>
  <p>One of the many interesting facets of painting involves painting with dots. Inspired
    by the works of Georges Seurat, Laurence Grignot puts a modern spin on pointillism.
  </p>
  <a href="#">Click here for full article</a>
</div>