<main class="wrapper">
  <section class="section staticFirst">
    <h1>Art that Delights</h1>
  </section>
  <section class="section parallax bg1">

  </section>
  <section class="section static">
    <h1>Art that Inspires</h1>
  </section>
  <section class="section parallax bg2">

  </section>

  <section class="section static">
    <h1>Art that Amazes</h1>
  </section>
  <section class="section parallax bg4">

  </section>

  <section class="section static">
    <h1>Ready to see more?</h1>
  </section>
  <section class="section parallax bg3">

    <app-register></app-register>

  </section>
</main>
