<div class="container">


  <form [formGroup]="myForm">
    <!-- Passing the value of myForm into angulars built in JSON pipe for formatting purposes-->
    Value: {{ myForm.value | json }} {{ career }}

    <hr>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea formControlName="message" matInput placeholder="your message..."></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Select an Career</mat-label>
      <mat-select [(value)]="career">
        <mat-option>None</mat-option>
        <mat-option value="option1">LolMaster</mat-option>
        <mat-option value="option2">WaifuLord</mat-option>
        <mat-option value="option3">BearBaiter</mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</div>
